.btn {
    display: inline-block;
    line-height: 1;
    font-weight: 700;
    width: 100%;
    border: none;
    padding: 17px;
    transition: all .09s ease-out;
    color: white;
}

.btn-accent {
    background-color: transparent;
    width: 370px;
    height: 85px;
    border: 2px solid #FFFFFF;
}

.btn-accent:hover {
    background-color: #FFFFFF;
    color: black;
}
.icon-favorite:hover:before {
    content: "\e902";
    color: black;
}

.btn__collection{
    display: inline-block;
    line-height: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color:black;
    width: 100%;
    border: none;
    padding: 17px;
    transition: all .09s ease-out;
}

.btn__collection-accent{
    background-color: transparent;
    width: 370px;
    height: 75px;
    border: 2px solid black;
}

.btn__collection-accent:hover{
    background-color: black;
    color: #FFFFFF;
}